<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>340019598347-acopk1o6s64hqp9s9mumdjhijv8autb1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.340019598347-acopk1o6s64hqp9s9mumdjhijv8autb1</string>
	<key>API_KEY</key>
	<string>AIzaSyC2XjSZrovHFsD7Vkq_MpRxiM2f5JOWYlk</string>
	<key>GCM_SENDER_ID</key>
	<string>340019598347</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dishant.LoginScreenProject</string>
	<key>PROJECT_ID</key>
	<string>loginscreen-swiftui</string>
	<key>STORAGE_BUCKET</key>
	<string>loginscreen-swiftui.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:340019598347:ios:274c7000a5b50c7f18630e</string>
</dict>
</plist>